body {
  font-family: 'Sarabun', sans-serif;
}

canvas {
  position: relative;
  top: -55px;
}

.work  {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  max-width: 100%;
  border-radius: 4px;
  flex-direction: column;
}

.work-project:first-of-type .project-image {
  justify-content: flex-start;
}

.work-project {
  display: flex;
  margin: 20px 0;
}

.project-image {
  height: 300px;
  width: 400px;
  overflow: hidden;
  display: flex;
  flex: 1;
}


.desc {
  display: flex;
  order: 1;
  font-size: 29px;
  flex: 2;
  flex-direction: column;
}

.desc-copy {
  padding-top: 24px;
}

.project-image img {
  height: 300px;
  width: 400px;
}


.header {
  display: flex;
  background: linear-gradient(130deg, #3c91e7 0, #78378c 100%);
  overflow: hidden;
  font-weight: 400;
  color: white;
  padding: 5em;
  justify-content: center;
  align-items: center;
}

.wrapper {
  font-size: 40px;
  color: white;
  flex-direction: column;
}

.connect {
  display: flex;
  font-size: 22px;
  color: white;
  font-weight: 100;
  width: 400px;
}

.social-link {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.github, .twitter {
  background-color: #7e95d4;
  padding: 10px 15px;
  border-radius: 50px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icon {
  display: flex;
  margin-right: 8px;
  align-items: center;
}


.social-icon img {
  height: 30px;
  width: 30px;
}


.image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  margin-left: 80px;
  order: 2;
  border: limegreen 3px solid;
}


.image-container img {
  display: block;
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
  position: relative;
  right: 55px;
}

main section {
  padding: 6em 10em;
}

main section:nth-of-type(odd) {
    background: #ffffff;
}

main section:nth-of-type(even) {
  background: #dee4f0;
}

section h2 {
  font-size: 50px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: lime;
  text-underline-position: under;
}


section h2:hover {
  text-decoration: underline;
  text-decoration-color: limegreen;
  text-underline-position: under;
}

section p {
  font-size: 35px;
}

.technologies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  width: 80%;
}


ul {
  list-style-type: square;
}

.list-left, .list-right {
  padding: 25px;
}




@media (max-width: 1200px) {
  .header {
    flex-direction: column;
  }

  .image-container {
    order: 1;
    margin-left: 0;
    width: 275px;
  }

  .image-container img {
    max-width: 375px;
  }

  .wrapper {
    text-align: center;
    order: 2;
    font-size: 22px;
  }

  .connect {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }

  main section {
    padding: 10px 30px;
  }

  .work-project {
    flex-direction: column;
  }

  .project-image {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .project-image img {
    width: 300px;
  }

  section h2 {
    font-size: 30px;
  }

  section p {
    font-size: 20px;
  }

  .technologies {
    font-size: 20px;
    width: 100%;
    width: 80%;
    padding-left: 10%;
  }

  .desc {
    font-size: 20px;
  }
}


@media (max-width: 700px) {
  .image-container {
    order: 1;
    margin-left: 0;
    width: 275px;
    height: 250px;
  }

  .image-container img {
    max-width: 375px;
  }
  
  .project-image {
    display: none;
  }

  section h2 {
    font-size: 30px;
  }

  section p {
    font-size: 20px;
  }

  .technologies {
    font-size: 20px;
    width: 100%;
    flex-direction: column;
    display: grid;
    justify-content: flex-start;
    align-items: center;
  }

  .list-left {
    width: 50%;
    justify-content: flex-start;
  }

  .list-right {
    width: 50%;
    justify-content: flex-start;
    padding: 0 0 10px 0;
  }

  ul {
    margin: 0;
  }

  .desc {
    font-size: 20px;
  }

}