body {
  font-family: 'Sarabun', sans-serif;
}

main section {
  padding: 1em 10em;
}

main section:nth-of-type(odd) {
    background: #ffffff;
}

main section:nth-of-type(even) {
  background: #dee4f0;
}

section h2 {
  font-size: 50px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: lime;
  text-underline-position: under;
}

section h2:hover {
  text-decoration: underline;
  text-decoration-color: limegreen;
  text-underline-position: under;
}

section p {
  font-size: 35px;
}

/* top banner styles  */
.header {
  display: flex;
  background: linear-gradient(130deg, #3c91e7 0, #78378c 100%);
  overflow: hidden;
  font-weight: 400;
  color: white;
  padding: 5em;
  justify-content: center;
  align-items: center;
}

.wrapper {
  font-size: 40px;
  color: white;
  flex-direction: column;
}

.connect {
  display: flex;
  font-size: 22px;
  color: white;
  font-weight: 100;
  width: 400px;
}

.social-link {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.github, .twitter {
  background-color: #7e95d4;
  padding: 10px 15px;
  border-radius: 50px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icon {
  display: flex;
  margin-right: 8px;
  align-items: center;
}

.social-icon img {
  height: 30px;
  width: 30px;
}

.image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  margin-left: 80px;
  order: 2;
  border: limegreen 3px solid;
}

.image-container img {
  display: block;
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
  position: relative;
  right: 55px;
}

/* about me section */
.quote {
  animation-duration: 2s;
  animation-name: slidein;
  font-style: italic;
  color: gray;
}

@keyframes slidein {
  from {
    margin-left: -2%;
    opacity: 0.5;
    width: 200%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}
/*end about me section */


/* work section styles */
.work  {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  max-width: 100%;
  border-radius: 4px;
  flex-direction: column;
}

.company {
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 10px;
}

.work-project:first-of-type .project-image {
  justify-content: flex-start;
}

.work-project {
  display: flex;
  margin: 20px 0;
}

.project-image {
  height: 300px;
  width: 400px;
  overflow: hidden;
  display: flex;
  flex: 1;
}

.desc {
  display: flex;
  order: 1;
  font-size: 29px;
  flex: 2;
  flex-direction: column;
  margin-left: 20px;
}

.desc-copy {
  padding-top: 24px;
}

.project-image img {
  height: 300px;
  width: 400px;
  border-radius: 10px;
}

.project-header {
  display: flex;
  align-items: center;
}

.project-header img {
  max-height: 30px;
  max-width: 40px;
  margin-right: 10px;
}
/* end work section */


/* technologies section */
.technologies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  width: 80%;
}

ul {
  list-style-type: square;
  width: 100%
}

li {
  position: relative;
  display: flex;
  flex: 1;
  border: 1px solid #78378c;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  transition: all 1s ease-in;
  width: 100%;
}

.list-right {
  padding: 25px;
  width: 100%;
}

.list-left {
  width: 100%;
}
/*end technologies section */

/* my projects section */
.follow-me {
  display: flex;
  align-items: center;
}

.follow-me img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.hundred-days a {
  cursor: pointer;
  color: black;
  text-decoration:none;
}

.hundred-days a:hover {
  cursor: pointer;
  color: rgb(92, 187, 225);
  text-decoration: underline;
}
/* end my projects section */


@media (max-width: 1200px) {
  main section {
    padding: 10px 30px;
  }

  section h2 {
    font-size: 30px;
  }

  section p {
    font-size: 20px;
  }
  
  .header {
    flex-direction: column;
    padding: 1em;
  }

  .image-container {
    order: 1;
    margin-left: 0;
    width: 275px;
  }

  .image-container img {
    max-width: 375px;
  }

  .wrapper {
    text-align: center;
    order: 2;
    font-size: 22px;
  }

  .connect {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }

  .work-project {
    flex-direction: column;
  }

  .project-image {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .project-image img {
    width: 300px;
  }

  .desc {
    font-size: 20px;
    display: flex;
    width: 60%;
    margin: auto;
  }

  .technologies {
    font-size: 20px;
    width: 100%;
    width: 80%;
  }
}


@media (max-width: 700px) {
  section h2 {
    font-size: 30px;
  }

  section p {
    font-size: 20px;
  }

  .image-container {
    order: 1;
    margin-left: 0;
    width: 275px;
    height: 250px;
  }

  .image-container img {
    max-width: 375px;
  }
  
  .project-image {
    display: none;
  }

  .desc {
    font-size: 20px;
    width: 100%
  }

  .technologies {
    flex-direction: column;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .list-left {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .list-right {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
  }

  ul {
    margin: 0;
    text-align: center;
  }

  li {
    justify-content: center;
  }
}
